.navItemsContainer{
    border: solid red;
    width: 100%;
    background-color: navy;
    height: 200px;
    margin-bottom: 10px;
}

    .navItemsButton{
        width: 100%;
        height: 100%;
        color: oldlace;
        background-color: transparent;
        font-size: 24px;
        font-weight: bold;
    }