.mainBody{
    width: 100%;
    border: solid red;
    height: 100%;
    padding:2%;
}

.mainContainer{
    border: solid saddlebrown;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12,7.42%);
    gap: 1%;
}

    .mainDisplay,.mainHistogram,.mainTable,.mainFacts{
        border: solid red;
        height: 99%;
        border-radius: 5px;  
    }

    .mainDisplay{
        grid-column-start: 1;
        grid-column-end: 7;
    }
    .mainHistogram{
        grid-column-start: 7;
        grid-column-end: 13;
    }
    .mainTable{
        grid-column-start: 1;
        grid-column-end: 9;
    }
    .mainFacts{
        grid-column-start: 9;
        grid-column-end: 13;
    }
    