.newsContainer{
    width: 100%;
    height: 100%;
    padding:2%;
}

.newsTableContainer{
    max-height: 96%;
    overflow: scroll;
    box-shadow: 0 0 3px;
}



.customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius:10px ;
  }

  .customers td, .customers th {
    padding: 8px;
  }
  
  .customers tr:nth-child(even){background-color: #f2f2f2;}
  
  .customers tr:hover {background-color: #4da8da;}
  
  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #12232e;
    color: white;
  }